@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-ss: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-500: 500;

  --clr-primary-400: hsl(180, 66%, 49%);
  --clr-primary-500: hsl(257, 27%, 26%);
  --clr-secondary: hsl(0, 87%, 67%);

  --clr-neutral-400: hsl(0, 0%, 75%);
  --clr-neutral-500: hsl(257, 7%, 63%);
  --clr-neutral-600: hsl(255, 11%, 22%);
  --clr-neutral-700: hsl(260, 8%, 14%);

  --fs-400: 1rem;
  --fs-500: 1.125rem;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* typography */

body {
  font-family: var(--ff-ss);
  font-size: var(--fs-500);
}
